[submodule "ext/gui"]
	path = ext/gui
	url = https://github.com/eliasvas/gui
[submodule "ext/SDL"]
	path = ext/SDL
	url = https://github.com/libsdl-org/SDL
	branch = SDL2
[submodule "ext/SDL_mixer"]
	path = ext/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
	branch = SDL2
